# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Environments
.env
.venv/
venv/
env/

# Data should not be pushed
data/
Data/

# Large/raw files
*.csv
*.xlsx
*.mat
*.h5
*.hdf5

# Keep examples if needed
!examples/
!examples/**/*.csv